fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic-settings
redis
fastapi-limiter
fastapi-cache
fastapi-cache2
python-jose
passlib
python-multipart
cryptography
rq
openai
alembic
psycopg2-binary
asyncpg
werkzeug
pydentic
pydentic[email]
email-validator
